POLYMARKET_ADDRESS=
POLYMARKET_FUNDER=
POLYMARKET_PRIVATE_KEY=
POLYMARKET_BUILDER_ADDRESS=
POLYMARKET_BUILDER_API_KEY=
POLYMARKET_BUILDER_API_SECRET=
POLYMARKET_BUILDER_API_PASSPHRASE=
POLYMARKET_RELAYER_ADDRESS=
POLYMARKET_RELAYER_API_KEY=
POLYMARKET_RELAYER_API_SECRET=
POLYMARKET_RPC_URL=
HTTP_PROXY=